@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --grey: #303841;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "oswald", sans-serif;
    font-size: 1rem;
}

/*NAVIGARION*/
nav {
   width: 100%;
    background-color: var(--red);
    position: fixed;

}

ul, li, a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: ease-in-out;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li {
    padding: 1.2rem 2rem;
    margin: 0 .5rem;
}

li:hover {
    background-color: var(--grey);
}

/*ABOUT*/

.about {
    background-color: var(--grey);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    text-transform: capitalize;
    color: var(--white);
    font-weight: 700;
    font-size: 4rem;

}

.about p {
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--red);
}

/*PROJECTS*/
.blue {
    background: var(--blue);
    padding: 4rem 1rem;

}
/*underlined text*/
.underline{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: var(--white);
    font-weight: 500;
    font-size: 3rem;
    border-spacing: 15px;
    text-align: center;
}

.line {
    width: 600px;
    border-bottom: 2px solid var(--white);
    margin-bottom: 20px;
   }

/*project samples*/

.projects{
    width: 900px;
    align-items: center;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 0 auto;
}


img{
display: block;
width: 100%;
}

.projects p{
    background-color: var(--grey);
}
.projects a{
    padding: 20px 5px;
}

@media screen and (max-width: 700px) {
    ul {
        justify-content: center;
        align-items: center;
    }

    .about {
        height: 50vh;
    }
}